<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppDelegate</key>
	<array>
		<dict>
			<key>framework</key>
			<string>Example</string>
			<key>class</key>
			<string>FlutterAppDelegate</string>
			<key>name</key>
			<string>flutter</string>
		</dict>
		<dict>
			<key>framework</key>
			<string>Example</string>
			<key>class</key>
			<string>FlutterAppDelegate2</string>
			<key>name</key>
			<string>flutter2</string>
		</dict>
	</array>
</dict>
</plist>
